<footer class="footer-wraper">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                      <div class="foot-inner-wrap">
                          <h4>Contact Information</h4>
                          <div class="foot-contact-info">
                              <p>
                                  <span>Email: </span><a href="mailto:info@p2pmarket.com">info@p2pmarket.com</a>
                              </p>
                              <p>
                                  <span>Email: </span><a href="tel:123 4567 8910">123 4567 8910</a>
                              </p>

                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">
                      <div class="foot-inner-wrap">
                          <h4>Navigation</h4>
                          <div class="foot-menu">
                              <ul>
                                  <li>
                                      <a href="invest.html">Invest</a>
                                  </li>
                                  <li>
                                      <a href="how-it-works.html">How it works</a>
                                  </li>
                                  <li>
                                      <a href="about-us.html">About Us</a>
                                  </li>
                                  <li>
                                      <a href="our-partners.html">Our Partners</a>
                                  </li>
                                  <li>
                                      <a href="blog.html">Blog</a>
                                  </li>
                                  <li>
                                      <a href="contact.html">Contact</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                      <div class="foot-inner-wrap">
                          <h4>Navigation</h4>
                          <div class="foot-menu">
                              <ul>
                                  <li>
                                      <a href="#">Car Loans</a>
                                  </li>
                                  <li>
                                      <a href="#">Mortgage Loans</a>
                                  </li>
                                  <li>
                                      <a href="#">Business Loans</a>
                                  </li>
                                  <li>
                                      <a href="#">Short Terms Loans</a>
                                  </li>
                                  <li>
                                      <a href="#">Personal Loans</a>
                                  </li>
                                  <li>
                                      <a href="#">Agriculture Loans</a>
                                  </li>
                                  <li>
                                      <a href="#">Other Loans</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                      <div class="foot-inner-wrap">
                          <h4>Newsletter</h4>
                          <p>Enter your email to subscribe newsletter</p>
                          <div class="newsletter-wrap">
                              <span class="fa fa-envelope-o" aria-hidden="true"></span>
                              <input class="form-control" type="email" name="" placeholder="Email address">
                              <input class="btn btn-success" type="submit" name="Subscribe" value="Subscribe">
                          </div>
                          <div class="social-icon">
                              <ul>
                                  <li>
                                      <a href="#">
                                          <img src="assets/images/social-icon1.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <img src="assets/images/social-icon2.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <img src="assets/images/social-icon3.png" alt="">
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 mt-4">
                      <div class="copy-right">
                          <p>COPYRIGHT © 2019.  ALL RIGHTS RESERVED. DESIGNED BY <a target="_blank" href="#" rel="nofollow">VTDESIGNZ.COM</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
