<div class="why-us-wraper">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
              <div class="whyus-inner-wrap accordion" id="FAQaccordion">
                  <div class="com-title">
                      <h3>Why Us</h3>
                  </div>
                  <div class="whyus-accordion-list">
                    <div class="whyus-accordion-head">
                        <h2 data-toggle="collapse" data-target="#collapse1">
                           100% goes into funding  <span class="plusminus"><i class="fa fa-chevron-down"></i></span>          
                        </h2>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                        <div class="whyus-accordion-body">
                            <p>What you give is a loan and not a donation. It comes back and you can reuse it to fund someone else again.</p>
                        </div>
                    </div>
                  </div>
                  <div class="whyus-accordion-list">
                    <div class="whyus-accordion-head">
                        <h2 data-toggle="collapse" data-target="#collapse2">
                           97.2% repayment rate  <span class="plusminus"><i class="fa fa-chevron-down"></i></span>          
                        </h2>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                        <div class="whyus-accordion-body">
                            <p>What you give is a loan and not a donation. It comes back and you can reuse it to fund someone else again.</p>
                        </div>
                    </div>
                  </div>
                  <div class="whyus-accordion-list">
                    <div class="whyus-accordion-head">
                        <h2 data-toggle="collapse" data-target="#collapse3">
                          1.9 million worldwide lenders <span class="plusminus"><i class="fa fa-chevron-down"></i></span>          
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#FAQaccordion">
                        <div class="whyus-accordion-body">
                            <p>What you give is a loan and not a donation. It comes back and you can reuse it to fund someone else again.</p>
                        </div>
                    </div>
                  </div>
                  <div class="whyus-view-btn">
                      <a class="btn btn-outline-success" href="#">View All <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
