<app-header></app-header>
<section class="banner-sec">
  <div class="container">
      <div class="row">
          <div class="banner-content">
              <h4>Empowering Individuals. <br>Realizing Dreams.</h4>
              <p>Lend a little (as low as ₦1000) & open up a world <br> of opportunities for those that need it across the world.</p>
              <div class="banner-btn-wrap">
                  <a class="btn btn-success" href="#">Invest Now</a>
                  <a class="btn btn-success" href="#">Lend now</a>
                  <a class="btn btn-success" href="#">Borrow now</a>
              </div>
          </div>
      </div>
  </div>
</section>
<app-how></app-how>
<section class="whyus-latestblogs-wraper">
  <app-whyus></app-whyus>
  <div class="latest-blogs-wraper">
     <app-blog></app-blog>
  </div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
