<section class="howworks-whoweare-wraper">
  <div class="how-it-works-wraper">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="com-title">
                      <h3>How It Works</h3>
                  </div>
              </div>
              <div class="col-12 col-md-10 offset-md-1">
                  <div class="row">
                      <div class="col-12 col-md-4 how-works-cont-wrap">
                          <div class="how-work-inner-wrap">
                              <div class="icon-wrap">
                                  <img class="img-fluid" src="assets/images/lenders-icon.png" alt="">
                                  <span class="count">1</span>
                              </div>
                              <h5>Lenders</h5>
                              <p>People who need loans receive it after an undertaking and return the amount at the end of the period.</p>
                              
                          </div>
                      </div>
                      <div class="col-12 col-md-4 how-works-cont-wrap">
                          <div class="how-work-inner-wrap">
                              <div class="icon-wrap">
                                  <img class="img-fluid" src="assets/images/borrowers-icon.png" alt="">
                                  <span class="count">2</span>
                              </div>
                              <h5>Borrowers</h5>
                              <p>A borrower can select if he will be using the funds to purchase products or services from one of our registered partners.</p>
                          </div>
                      </div>
                      <div class="col-12 col-md-4 how-works-cont-wrap">
                          <div class="how-work-inner-wrap">
                              <div class="icon-wrap">
                                  <img class="img-fluid" src="assets/images/investors-icon.png" alt="">
                                  <span class="count">3</span>
                              </div>
                              <h5>Investors</h5>
                              <p>What you give is a loan and not a donation. You help crowdfund loan corpus.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="who-we-are-wraper">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 mb-4 mb-md-0">
                  <div class="left-img">
                      <img class="img-fluid" src="assets/images/who-we-are-left-img.png" alt="">
                  </div>
              </div>
              <div class="col-12 col-md-6">
                  <div class="como-cont-wrap">
                      <div class="com-title">
                          <h3>Who We Are</h3>
                      </div>
                      <p>Billions of people around the world don’t have access to lending and financial services. P2P Marketplace is here to on a mission to reach out underserved communities and fill up this void gap. We are a global nonprofit organization based in XYZ founded in...</p>
                      <ul>
                          <li> We crowdfund loans creating loan corpus </li>
                          <li>Address barriers of financial services</li>
                          <li>Reach out to underserved communities</li>
                          <li>Lend to empower and be independent </li>
                      </ul>
                      <a class="btn btn-outline-success" href="about-us.html">LEARN MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="our-partners-wraper">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-10 offset-md-1">
                  <div class="partners-slider-wrap">
                      <h5>The most important partners we had so far.</h5>
                      <div id="PartnersSlider" class="owl-carousel">
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo1.jpg" alt="">
                          </div>
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo2.jpg" alt="">
                          </div>
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo3.jpg" alt="">
                          </div>
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo4.jpg" alt="">
                          </div>
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo5.jpg" alt="">
                          </div>
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo1.jpg" alt="">
                          </div>
                          <div class="partners-slider-list">
                              <img class="img-fluid" src="assets/images/partners-logo2.jpg" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
